In [1]:
import numpy as np
import pandas as pd
import re
import string
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import *
from sklearn import preprocessing
from sklearn import metrics

In [3]:
df = pd.read_csv('data.csv')

#df.shape = (24210, 27)

In [4]:
df.columns

Index(['Unnamed: 0', 'index', 'title', 'company_name', 'location', 'via',
       'description', 'extensions', 'job_id', 'thumbnail', 'posted_at',
       'schedule_type', 'work_from_home', 'salary', 'search_term', 'date_time',
       'search_location', 'commute_time', 'salary_pay', 'salary_rate',
       'salary_avg', 'salary_min', 'salary_max', 'salary_hourly',
       'salary_yearly', 'salary_standardized', 'description_tokens'],
      dtype='object')

In [5]:
df.head()

,Unnamed: 0,index,title,company_name,location,via,description,extensions,job_id,thumbnail,...,commute_time,salary_pay,salary_rate,salary_avg,salary_min,salary_max,salary_hourly,salary_yearly,salary_standardized,description_tokens
0,0,0,Data Analyst,Robert Half,"Oklahoma City, OK",via LinkedIn,Description\n\nRobert Half is looking for a pr...,"['24 hours ago', 'Contractor', 'Health insuran...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,https://encrypted-tbn0.gstatic.com/images?q=tb...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['go']
1,1,1,Data Analyst,Apex Health Solutions,United States,via LinkedIn,Data Analyst Summary Apex Health Solutions is ...,"['21 hours ago', 'Full-time', 'Health insurance']",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,https://encrypted-tbn0.gstatic.com/images?q=tb...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['excel', 'power_bi', 'azure', 'sql']"
2,2,2,Marketing Data Analyst,Ledger Bennett,Anywhere,via LinkedIn,"At Ledger Bennett, we strive to help our emplo...","['21 hours ago', 'Work from home', 'Full-time']",eyJqb2JfdGl0bGUiOiJNYXJrZXRpbmcgRGF0YSBBbmFseX...,https://encrypted-tbn0.gstatic.com/images?q=tb...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['excel', 'tableau', 'sql']"
3,3,3,"Boolean Search Data Analyst | $54,000-$108,000...",IT Pros,Anywhere,via Indeed,Company Description\n\nJoin a world-class data...,"['14 hours ago', 'Work from home', 'Part-time'...",eyJqb2JfdGl0bGUiOiJCb29sZWFuIFNlYXJjaCBEYXRhIE...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
4,4,4,Product Data Analyst - Ditch Witch - Now Hiring,The Toro Company,"Perry, OK",via Snagajob,Who Are We? \n\nOur plant in West Salem sta...,"['22 hours ago', 'Full-time', 'Health insuranc...",eyJqb2JfdGl0bGUiOiJQcm9kdWN0IERhdGEgQW5hbHlzdC...,https://encrypted-tbn0.gstatic.com/images?q=tb...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['excel', 'sap', 'assembly']"

In [6]:
df = df[['title', 'company_name', 'location', 'via', 'description', 'extensions','salary_standardized', 'description_tokens']]

In [13]:
text = df['description']

In [95]:
print(df['description'][120])

Sogeti is looking for a talented professional Consultant to join our Colorado team built on the success of our people and partnerships. Come be a part of our “People centric” culture!

Sogeti is a wholly-owned subsidiary of Capgemini and the Technology and Engineering Services Division of Capgemini. We have more than 25,000 professionals in 15 countries and has a strong local presence in over 100... locations scattered throughout the US, Europe and India.

We are leading provider of technology and software testing, specializing in Application, Infrastructure, Data, Analytics and Engineering Services. We offer cutting-edge solutions around Testing, Business Intelligence & Analytics, PLM, Mobile, Cloud, and Cyber Security, combining world class methodologies and its global delivery model, Rightshore®. Sogeti’s roots and the bedrock of our success lie in the provision of local professional services - teams of experienced IT professionals working closely with local clients.

We offer an environment that celebrates innovation and helps you to achieve a good balance between your professional and personal life. We strive to be THE employer of choice!

Job Title: Data Analyst

• Must have 7+ years of related experience.

• SQL Server 2014/16, Good SQL & ETL skills

• Working knowledge of PowerBI

• Strong data analytical skills

• Ability to make business conclusions from data, connect scenarios

• Strong knowledge on Excel – Pivots, PowerPivots, Charts

Additional skills:

• Understanding Data Management & BI concepts, Data Analysis, Analytics, Cubes, Reporting Technologies, ETL

• Prior experience in Microsoft landscape is preferred

• Ability to deal with ambiguity and work in agile environment.

• Excellent communications skills

• Attention to detail

• Strong troubleshooting skills

• Hands on experience with SharePoint

• Azure Synapse skills

Responsibilities include:

• Troubleshoot complex data related issues escalated from Tier 1

• Provides extensive troubleshooting and technical expertise in identifying data issues that impact data metrics.

• Gather and Confirms project requirements by studying user requirements; conferring with others on project team.

• Provides support to the users on any data related questions/issues reported.

• Maintains client confidence and protects operations by keeping information confidential.

• Documenting the different processes.

• Solving data discrepancies and providing business intelligence insights.

• Monitor data extract, transform, and load (ETL) jobs and respond to any job failures.

• Flexibility to support production issues during off hours.

Minimum education qualification
• Bachelor's Degree in Computer Science, Computer Engineering, MIS or related field.

Benefits our employees enjoy working at Sogeti USA:
• 401(k) Savings Plan: matched 150% up to 6%. Our 401k is in the top 1% of 401(k) plans offered in the US!
• Employee Stock Option Plan
• Potential Annual Individual Bonus Plan
• Medical/Prescription/Dental/Vision Coverage: low premium and deductible with free preventative care
• Life Insurance: provided at 2x base salary plus long term and short term disability
• 100% Company-paid Mobile Phone Plan
• Personal Time Off (PTO): ensuring a balance of work and home life
• Career Planning and Coaching Program
• All of our employees receive wide-ranging training covering business acumen, technical and professional skills development. Employees also have opportunities to hone your functional skills and expertise in an area of specialization. We offer a variety of formal and informal training programs at every level to help employees acquire and build specialized skills faster. Learning takes place both on the job and through formal training conducted online, in the classroom, or in collaboration with teammates.
• Continuing Education: $12,000 Annual Tuition Reimbursement plus access to over 20,000 online courses and certifications through Capgemini University, as well as many offerings through Coursera and Degreed.
• Paid Parental Leave: eligibility up to 6 weeks
• Adoption Assistance: up to $5,000
• Perks and Discount Programs for Health, Fitness, Auto and many more
• Counseling, Assistance, and other Support Programs
• The sheer variety of work we do, and the experience it offers, provide an unbeatable platform from which to build a career!

Compensation

Capgemini discloses salary range information in compliance with state and local pay transparency obligations. The disclosed range represents the lowest to highest salary we, in good faith, believe we would pay for this role at the time of this posting, although we may ultimately pay more or less than the disclosed range, and the range may be modified in the future. The disclosed range takes into account the wide range of factors that are considered in making compensation decisions including, but not limited to, geographic location, relevant education, qualifications, certifications, experience, skills, seniority, performance, sales or revenue-based metrics, and business or organizational needs. At Capgemini, it is not typical for an individual to be hired at or near the top of the range for their role. The base salary range for the tagged location is $85,000 - $120,000.

This role may be eligible for other compensation including variable compensation, bonus, or commission.

Full time regular employees are eligible for paid time off, medical/dental/vision insurance, 401(k), and any other benefits to eligible employees. Note: No amount of pay is considered to be wages or compensation until such amount is earned, vested, and determinable. The amount and availability of any bonus, commission, or any other form of compensation that are allocable to a particular employee remains in the Company's sole discretion unless and until paid and may be modified at the Company’s sole discretion, consistent with the law

In [19]:
def preprocess_text(text):
    # Lowercasing
    text = text.lower()
    
    # Remove newlines, tabs, and extra spaces
    text = re.sub(r'\n+', ' ', text)
    text = re.sub(r'\s+', ' ', text)
    
    # Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    
    # Remove numbers
    text = re.sub(r'\d+', '', text)
    return text.strip()

In [21]:
text = text.apply(preprocess_text)

In [23]:
#Singlets

from sklearn.feature_extraction.text import TfidfVectorizer
from collections import Counter

vectorizer = TfidfVectorizer(ngram_range=(1, 1), stop_words='english')

tfidf_matrix = vectorizer.fit_transform(text)

feature_names = vectorizer.get_feature_names_out()

def count_words(tfidf_matrix, feature_names, min_count=100):
    word_counter = Counter()
    
    for row in range(tfidf_matrix.shape[0]):
        row_data = tfidf_matrix[row].toarray().flatten()
        
        for idx, score in enumerate(row_data):
            if score > 0:
                word_counter[feature_names[idx]] += 1

    sorted_words = [(word, count) for word, count in word_counter.items() if count > min_count]
    sorted_words = sorted(sorted_words, key=lambda x: x[1], reverse=True)
    
    return sorted_words

sorted_words = count_words(tfidf_matrix, feature_names, min_count=100)

for word, count in sorted_words[:100]: 
    print(f"{word}: {count}")

data: 22547
experience: 19989
work: 18088
business: 16995
skills: 16281
analysis: 15957
years: 15733
team: 14601
analyst: 14530
degree: 14049
support: 13211
ability: 12995
including: 12661
analytics: 12550
management: 12507
requirements: 12403
sql: 12359
information: 12286
working: 12144
tools: 12117
strong: 11908
related: 11907
required: 11849
knowledge: 11790
role: 11438
job: 11105
solutions: 10996
develop: 10973
development: 10819
responsibilities: 10816
provide: 10811
preferred: 10776
using: 10728
position: 10452
new: 10414
opportunity: 10385
reporting: 10227
reports: 10215
communication: 10015
analytical: 9935
time: 9479
complex: 9465
process: 9402
identify: 9400
technical: 9323
company: 9317
benefits: 9258
processes: 9222
projects: 9205
needs: 9167
help: 9144
teams: 9119
systems: 9107
science: 9043
environment: 9028
disability: 8849
equal: 8800
status: 8794
qualifications: 8734
multiple: 8706
opportunities: 8591
national: 8514
field: 8496
insights: 8477
analyze: 8449
employer: 8405
understanding: 8362
excel: 8314
use: 8201
stakeholders: 8183
create: 8169
organization: 8165
quality: 8153
technology: 8147
ensure: 8110
race: 8015
key: 7976
andor: 7919
orientation: 7895
health: 7886
religion: 7857
color: 7825
design: 7807
origin: 7804
based: 7802
sexual: 7797
responsible: 7768
bachelors: 7738
gender: 7728
make: 7531
performance: 7419
veteran: 7396
services: 7389
employment: 7368
project: 7367
best: 7174
computer: 7168
internal: 7112
understand: 7048
industry: 6983

In [25]:
len(sorted_words)

4342

In [41]:
trimmed_tupples = [tup for tup in sorted_words if tup[1] > 500]

In [43]:
len(trimmed_tupples)

1750

In [55]:
with open("singlets_Output.txt", "w") as text_file:
    text_file.write(str(trimmed_tupples))

In [ ]:
#Bigrams

from sklearn.feature_extraction.text import TfidfVectorizer
from collections import Counter

vectorizer = TfidfVectorizer(ngram_range=(2, 2), stop_words='english')

tfidf_matrix = vectorizer.fit_transform(text)

feature_names = vectorizer.get_feature_names_out()

def count_bigrams(tfidf_matrix, feature_names):
    bigram_counter = Counter()
    
    for row in range(tfidf_matrix.shape[0]):
        row_data = tfidf_matrix[row].toarray().flatten()
        
        for idx, score in enumerate(row_data):
            if score > 0:
                bigram_counter[feature_names[idx]] += 1
 
    return sorted_bigrams

sorted_bigrams = count_bigrams(tfidf_matrix, feature_names)

In [ ]:
for bigram, count in sorted_bigrams[:100]: 
    print(f"{bigram}: {count}")